//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: "Helvetica";
  src: url("http://localhost:3000/fonts/Helvetica.ttf");
}
@font-face {
  font-family: "Wigrum";
  src: url("http://localhost:3000/fonts/Wigrum-Regular.ttf");
}

body {
  //overflow: hidden;
}

body {
  //background: linear-gradient(-45deg, #e33d40, #770A0C, #182853, #0E1B3D, #00091c, #00091c);
  background: linear-gradient(-45deg, #02061A, #060B3E, #182853, #0E1B3D, #00091c, #00091c);
  background-size: 800% 400%;
  background-position: 100% 50%;
  height: 100vh;
  font-family: 'Wigrum', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .navigation {
    .leftSide, .rightSide {
      display: flex;
      align-items: center;
      position: fixed;
      margin: 3rem 5rem;
      z-index: 99;
    }

    .rightSide {
      right: 0;
      top: 10px;
    }

    .leftSide {
      left: 0;
      top: 0;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .search {
      background: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.14);
      border-radius: 10px;
      width: 400px;
      height: 40px;
      margin-left: 3rem;
      display: flex;
      align-items: center;
      padding: 0 .75rem;
      transition: all .3s ease;

      svg {
        transition: all .4s;
      }

      .iconZoom {
        opacity: .3;
      }

      .iconEnter {
        opacity: 0;
      }

      .iconEnter.enterPress {
        animation: enterPressed .5s ease;
      }

      input {
        height: 31px;
        background: none;
        border: none;
        padding: 0;
        margin-left: .75rem;
        font-size: 16px;
        font-family: 'Helvetica', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: white;
        text-transform: capitalize;
        position: relative;
        top: 1px;
        width: 84%;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        color: rgba(255, 255, 255, 0.3);
        font-size: 16px;
        font-family: 'Helvetica', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

#iconMenu {
  cursor: pointer;
  * {
    transition: all .3s;
  }
  *:nth-child(2) {
    transition-delay: 100ms;
  }
  *:nth-child(3) {
    transition-delay: 30ms;
  }
  *:nth-child(5) {
    transition-delay: 90ms;
  }
  *:nth-child(6) {
    transition-delay: 45ms;
  }
  *:nth-child(7) {
    transition-delay: 60ms;
  }
  *:nth-child(8) {
    transition-delay: 75ms;
  }
  *:last-child {
    transition-delay: 15ms;
  }
}

#iconMenu:hover {
  *:first-child {
    transform: translateX(-2px);
  }
  *:nth-child(2) {
    transform: translate(-2px, 2px);
  }
  *:nth-child(3) {
    transform: translateY(-2px);
  }
  *:nth-child(5) {
    transform: translateY(2px);
  }
  *:nth-child(6) {
    transform: translate(2px, -2px);
  }
  *:nth-child(7) {
    transform: translateX(2px);
  }
  *:nth-child(8) {
    transform: translate(2px, 2px);
  }
  *:last-child {
    transform: translate(-2px, -2px);
  }
}

@keyframes enterPressed {
  0% {
    opacity: .23;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .23;
  }
}