//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.home {
  //background: linear-gradient(180deg, #060B3E 0%, #02061A 100%);
  background: linear-gradient(-45deg, #e33d40, #770A0C, #182853, #0E1B3D, #00091c, #00091c);
  background-size: 800% 400%;
  background-position: 100% 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 32px;
}

