//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.home {
  //background: linear-gradient(180deg, #060B3E 0%, #02061A 100%);
  background: linear-gradient(-45deg, #060B3E, #0E1B3D, #02061A, #060B3E);
  background-size: 400% 400%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 32px;
}