@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

body {
  color: white;
  //height: 100vh;
  padding: 3rem 5rem;
  overflow: scroll !important;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .teamInfos {
      h1 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 64px;
        font-weight: 700;
        line-height: 59px;
      }

      p {
        font-size: 24px;
        font-weight: 700;
      }

      * {
        margin: 0;
      }

      .round {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background: white;
        display: inline-block;
        margin: 0 8px;
        position: relative;
        bottom: 3px;
      }
    }

    .iconTeam {
      height: 130px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .topPlayers {
    margin: 56px 0;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0 32px;
    grid-template-areas: ". . . . .";

    .playerCard {
      flex-direction: column;
      align-items: center;
      height: 260px;
    }

    .playerImg {
      margin-bottom: 24px;
    }
  }

  .allPlayers {
    margin: 40px 0;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 32px 32px;
    grid-template-areas: ". . .";

    .playerCard {
      align-items: center;
      height: 160px;
    }
  }

  .playerCard {
    background: linear-gradient(180deg, rgba(255,255,255,.13) 0%, rgba(255,255,255,.05) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    display: flex;

    .playerName {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        text-transform: uppercase;
        font-size: 14px;

        &.lastName {
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
  }

  .playerImg {
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    height: 120px;
    width: 120px;
    overflow: hidden;
    position: relative;
    background: #313565;

    img {
      height: 90%;
      width: 90%;
      display: block;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}