.teamHome {
  max-width: 850px;
  max-height: 500px;
  width: 60vw;
  height: 40vw;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  .Tilt {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: var(--teamUrl);
    background-size: cover;
    transform-style: preserve-3d;

    .Tilt-inner {
      transform: translateZ(60px);
      width: 100%;
      height: 100%;
    }

    .content {
      width: 100%;
      height: 100%;
      position: relative;

      h1 {
        font-family: 'Wigrum', sans-serif;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
        font-size: 70px;
        line-height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

        span {
          font-size: 120px;
          line-height: 110px;
        }
      }

      button {
        font-family: 'Wigrum', sans-serif;
        text-transform: uppercase;
        color: white;
        padding: .9rem 1.75rem;
        border: none;
        background: var(--colorButton) !important;
        border-radius: 150px;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }

      button:hover {
        background: var(--hoverButton) !important;
      }
    }
  }
}