#lakers {
  background: linear-gradient(-45deg, #02061A, #060B3E, #182853, #0E1B3D, #00091c, #00091c);
  background-size: 800% 400%;
  background-position: 100% 50%;

  .content {
    button {
      background: #e2a106 !important;
    }
    button:hover {
      background: #ecb01c !important;
    }
  }
}

#hawks {
  background: linear-gradient(-45deg, #c66667, #661d1d, #182853, #0E1B3D, #00091c, #00091c);
  background-size: 800% 400%;
  background-position: 100% 50%;

  .content {
    button {
      background: #e20606 !important;
    }
    button:hover {
      background: #ec1c1c !important;
    }
  }
}

#rockets {
  background: linear-gradient(-45deg, #e33d40, #770A0C, #182853, #0E1B3D, #00091c, #00091c);
  background-size: 800% 400%;
  background-position: 100% 50%;

  .content {
    button {
      background: #062be2 !important;
    }
    button:hover {
      background: #1c3fec !important;
    }
  }
}